<p id="notice"><%= notice %></p>

<div class="classement">
<h1>Classement copains</h1>
<% if @nilscore > 0 %>
<p>Nil : <%= @nilscore  %></p>
<% end %>
<% if @camscore > 0 %>
<p>Camille : <%= @camscore %></p>
<% end %>
<% if @laurinescore > 0 %>
<p>Laurine : <%= @laurinescore %></p>
<% end %>
<% if @gautierscore > 0 %>
<p>Gautier : <%= @gautierscore  %></p>
<% end %>
<% if @juliescore > 0 %>
<p>Julie : <%= @juliescore  %></p>
<% end %>
<% if @helenescore > 0 %>
<p>Hélène : <%= @helenescore  %></p> 
<% end %>
<% if @loicscore > 0 %>
<p>Loic : <%= @loicscore %></p>
<% end %>
<% if @christophescore > 0 %>
<p>Christophe : <%= @christophescore  %></p>
<% end %>
</div>

<h1>Prédicitions</h1>

<div class="new">
<%= link_to new_post_path do  %>
<button type="button" class="btn-lg btn-outline-primary">Nouvelle prédiction</button>
<% end %>
</div>

<div class="paginate" style="border: solid 1px grey; border-radius: 10px; padding: 15px; background-color: white; margin-top: 20px;">
<%= paginate @posts %>
</div>

<% @posts.each do |post| %>
          <% if post.point == 2 %>
  <div class="card-product">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>Prédit par : <strong><%= post.user.firstname %>,</strong> à l'épisode : <strong><%= post.episode %></strong></p>
      <p>Status : <%= post.status %></p>
      <div class="teston d-block d-sm-none" style="background-color: rgba(212, 231, 39, 0.54); border: 2px solid grey;border-radius: 10px; width: 70px; padding: 0px; text-align: center;"><p><%= post.point %> Points</p></div>

      <% if user_signed_in? %>
      <p><%= link_to 'modifier', edit_post_path(post) %>, <%= link_to 'supprimer', post, method: :delete, data: { confirm: 'Sur ??' } %>
</p> <% end %>
    </div>
    <div class="avatar d-none d-sm-block" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
    <div class="points d-none d-sm-block" style="background-color: rgba(212, 231, 39, 0.54); border: 2px solid grey; position: absolute; right: 250px; padding: 15px; letter-spacing: 1px; border-radius: 10px;"><%= post.point %> Points</div>
  </div>

          <% elsif post.point == 1 %>
  <div class="card-product">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>Prédit par : <strong><%= post.user.firstname %>,</strong> à l'épisode : <strong><%= post.episode %></strong></p>
      <p>Status : <%= post.status %></p>
      <div class="teston d-block d-sm-none" style="background-color: rgba(68, 233, 53, 0.54); border: 2px solid grey;border-radius: 10px; width: 70px; padding: 0px; text-align: center;"><p><%= post.point %> Points</p></div>
<% if user_signed_in? %>
      <p><%= link_to 'modifier', edit_post_path(post) %>, <%= link_to 'supprimer', post, method: :delete, data: { confirm: 'Sur ??' } %>
</p> <% end %>
    </div>
    <div class="avatar d-none d-sm-block" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
    <div class="points d-none d-sm-block" style="background-color: rgba(68, 233, 53, 0.54); position: absolute; right: 250px; padding: 15px; border: 2px solid grey; letter-spacing: 1px; border-radius: 10px;"><%= post.point %> Points</div>
  </div>

          <% else %>
  <div class="card-product">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>Prédit par : <strong><%= post.user.firstname %>,</strong> à l'épisode : <strong><%= post.episode %></strong></p>
      <p>Status : <%= post.status %></p>
      <div class="teston d-block d-sm-none" style="border: 2px solid grey;border-radius: 10px; width: 70px; padding: 0px; text-align: center;"><p><%= post.point %> Points</p></div>
<% if user_signed_in? %>
      <p><%= link_to 'modifier', edit_post_path(post) %>, <%= link_to 'supprimer', post, method: :delete, data: { confirm: 'Sur ??' } %>
</p> <% end %>
    </div>
    <div class="avatar d-none d-sm-block" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
    <div class="points d-none d-sm-block" style="position: absolute; right: 250px; padding: 15px; border: 2px solid grey; letter-spacing: 1px; border-radius: 10px;"><%= post.point %> Points</div>
  </div>
<% end %>
          <% end %>


<div class="paginate" style="border: solid 1px grey; border-radius: 10px; padding: 15px; background-color: white; margin-top: 20px;">
<%= paginate @posts %>
</div>


<br><br>
<div class="regles">
  <h1>Règles</h1>
  <ul>
    <li><strong>Faire une ou plusieurs prédiction(s) concernant un personage de la série</strong></li>
    <li>Prédiction réalisée = 1 point</li>
    <li>Prédicition réalisée <strong>au bon épisode</strong> = 2 points</li>
    <li>Prédiction non-realisée = 0 points</li>
  </ul>
</div>



