<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'New post', new_post_path %>



<% @posts.each do |post| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>by : <%= post.user.firstname %><strong> sur : <%= post.character.firstname %></strong> à l'épisode : <%= post.episode %></p>
    </div>
  </div>
<% end %>
