<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'New post', new_post_path %>



<% @posts.each do |post| %>
  <div class="card-product">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>by : <%= post.user.firstname %><strong> sur : <%= post.character.firstname %></strong> à l'épisode : <%= post.episode %></p>
    </div>
    <div class="avatar" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
  </div>
<% end %>