<p id="notice"><%= notice %></p>
<h1>Classement copains</h1>
<i>Coming soon...</i>
<div class="classement">
</div>
<br>
<h1>Prédicitions</h1>

<div class="new">
<%= link_to new_post_path do  %>
<button type="button" class="btn-lg btn-outline-primary">Nouvelle prédiction</button>
<% end %>

</div>

<% @posts.each do |post| %>
          <% if post.point == 2 %>
  <div class="card-product" style="border: 2px solid #19da84;">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>Prédit par : <strong><%= post.user.firstname %>,</strong> à l'épisode : <strong><%= post.episode %></strong></p>
      <p>Status : <%= post.status %></p>
      <p><%= link_to 'modifier', edit_post_path(post) %></p>
      <p><%= link_to 'supprimer', post, method: :delete, data: { confirm: 'Sur ??' } %></p>
    </div>
    <div class="avatar" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
    <div class="points" style="position: absolute; right: 250px; padding: 15px; border: 2px solid grey; letter-spacing: 1px; border-radius: 10px;"><%= post.point %> Points</div>
  </div>

          <% elsif post.point == 1 %>
  <div class="card-product" style="border: 2px solid #8b7dec;">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>Prédit par : <strong><%= post.user.firstname %>,</strong> à l'épisode : <strong><%= post.episode %></strong></p>
      <p>Status : <%= post.status %></p>
      <p><%= link_to 'modifier', edit_post_path(post) %></p>
      <p><%= link_to 'supprimer', post, method: :delete, data: { confirm: 'Sur ??' } %></p>
    </div>
    <div class="avatar" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
    <div class="points" style="position: absolute; right: 250px; padding: 15px; border: 2px solid grey; letter-spacing: 1px; border-radius: 10px;"><%= post.point %> Points</div>
  </div>

          <% else %>
  <div class="card-product">
    <%= image_tag post.character.picture, style:'object-fit: contain;' %>
    <div class="card-product-infos">
      <h2><%= post.title %></h2>
      <p>Prédit par : <strong><%= post.user.firstname %>,</strong> à l'épisode : <strong><%= post.episode %></strong></p>
      <p>Status : <%= post.status %></p>
      <p><%= link_to 'modifier', edit_post_path(post) %></p>
      <p><%= link_to 'supprimer', post, method: :delete, data: { confirm: 'Sur ??' } %></p>
    </div>
    <div class="avatar" style="position: absolute; right: 120px; border-radius: 50%;">
        <%= image_tag post.user.picture, class: 'avatar', style:'width: 90px;' %>
    </div>
    <div class="points" style="position: absolute; right: 250px; padding: 15px; border: 2px solid grey; letter-spacing: 1px; border-radius: 10px;"><%= post.point %> Points</div>
  </div>
<% end %>
          <% end %>




<br><br>
<div class="regles">
  <h1>Règles</h1>
  <ul>
    <li><strong>Faire une ou plusieurs prédiction(s) concernant un personage de la série</strong></li>
    <li>Prédiction réalisée = 1 point</li>
    <li>Prédicition réalisée <strong>au bon épisode</strong> = 2 points</li>
    <li>Prédiction non-realsiée = 0 points</li>
  </ul>
</div>

<h1>To do </h1>
  <ul>
    <li>Design </li>
    <li>Compteur de points </li>
    <li>Ajouter 'cela ne concerne pas un personnafge en particulier'</li>
    <li>Border color selon le status</li>
    <li>Responsivity</li>
    <li>Replace form by thumbnails</li>
    <li>...</li>
  </ul>
